<form class="form-inline" #currencyRateForm="ngForm" (ngSubmit) ="convert(currencyRateForm.value)">
  <div class="form-group">
    <label for="convertationType">Получение курcа</label>
    <select name="convertationType" id="convertationType" class="form-control" ngModel required>
      <option></option>
      <option value="1">Статически</option>
      <option value="2">Динамически</option>
    </select>
  </div>


  <div class="form-group">
    <label for="currencySum" >Валюта</label>
    <div class="form-group">
      <select name="currency" class="form-control" ngModel required>
        <option></option>
        <option *ngFor="let currency of staticCurrencyRate;let i = index" [value]=i>{{currency.currency}}</option>
      </select>
    </div>
  </div>


  <div class="form-group">
    <label for="currencySum">Сумма валюты</label>
    <input type="number" step="1" min="0" id="currencySum" name="currencySum" class="form-control" ngModel required>
  </div>

  <button type="submit" class="btn btn-default" [disabled] = !currencyRateForm.valid >Рассчитать</button>
  <div class="clearfix"></div>

  <div class="form-group">
    <label>Результат:</label>
    <output name="currencyConverterResult">{{result | async}}</output>
  </div>




</form>

<div><pre>{{currencyRateForm.value | json}}</pre></div>

