.hotels-list{
  background: #fff;
  border-radius: 5px;
}

.hotels-list__menu{
  background: #fda660;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 1em 0;
  margin-bottom: 1em;
}

.hotels-list__menu > li{
  display: inline;
  padding: 0 0.5em;
}

.hotels-list__menu > li a{
  color: #fff;
  font-size: 1.2em;
}


.hotels-list__hotel{
  margin-bottom: 1em;
}

.hotels-list__hotel__title{
  font-size: 1.5em;
  margin: 0 0 0.3em 0;
  padding: 0;
  cursor:  pointer;
}

.hotels-list__hotel__description{
  margin: 0.5em 0;
}

.hotels-list__list{
  max-height:150px;
  background:#fff;
  overflow-y: scroll;
  padding: 0 2em;
}

.hotels-list__hotel__photos{
  overflow: hidden;
}

.hotels-list__hotel__photo{
  float: left;
  width: 25%;
  padding: 0.1em;
  cursor:  pointer;
}

/*
.element-bg-img img {
  border-radius: 6px 6px 0px 0px;
}

.ele-strip {
  background: #fda660;
  padding: 1em 1em;
  margin: -3px 0px 0px 0px;
}

.ele-strip ul{
  text-align: center;
}
.ele-strip ul li {
  display: inline-block;
  padding: 0em 0.5em;
  border-right: 1px solid #fff;
}

.ele-strip ul li.anc-bor {
  border-right: none;
}

.ele-strip ul li a{
  font-size:1em;
  color: #fff;
}



.village {
  background: #fff;
  padding: 1.5em 1em;
  border-radius: 0px 0px 5px 5px;
}
.village h3 {
  text-align: center;
  font-size: 0.95em;
  color: #000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

span.line {
  background: url(./assets/images/line.png)no-repeat;
  width: 103px;
  height: 2px;
  display: block;
  margin: 0.6em auto 0em;
}







.activity-row, .activity-row1{
  text-align: left;
}

.activity-img{
  text-align:center;
}
.activity-img img{
  display:inline-block;
}
.activity-desc h5{
  color:#000;
  font-size:1em;
  font-weight:500;
  margin-bottom: 5px;
}
.activity-desc h5 a{
  color:#000;
}
.activity-desc p{
  color:#999;
  font-size:0.94em;
  line-height:1.7em;
}
.activity-desc h6 {
  color: #fd7b87;
  font-size: 13px;
  margin: 13px 0 0 0;
  font-weight: bold;
}
.activity-row{
  margin-bottom:1em;
}
.scrollbar{
  height:115px;
  background:#fff;
  overflow-y: scroll;
  padding: 1em 1em 0em 1em;
}
.activity_box{
  background: #fff;
  min-height: 120px;
}
#style-2::-webkit-scrollbar-track
{

  background-color:#f0f0f0;
}

#style-2::-webkit-scrollbar
{
  width:5px;
  background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar-thumb
{

  background-color:#fda660;
}
.activity-desc {
  float: left;
  width: 50%;
}
.activity-img {
  float: right;
  width: 50%;
}
.activity-img ul li {
  display: inline-block;
}
.activity-img ul li img{
  border-radius:50px;
}
*/
