<div class="container">
  <form #f="ngForm" class="form-inline">
    <div ngModelGroup="model" class="form-group">
      <input type="number" class="form-control" name="value" ngModel (keyup)="onConvert(f)"/>
      <select type="text" class="form-control" name="baseCurrency" ngModel (change)="onConvert(f)">
        <option *ngFor="let item of getCurrencyList() | async" [value]="item">{{item}}</option>
      </select>
      <span>=</span>
      <input type="text" class="form-control" readonly name="convertedValue" [ngModel]="convertedValue" />
      {{convertedValue}}
      <select type="text" class="form-control" name="targetCurrency" ngModel (change)="onConvert(f)">
        <option *ngFor="let item of getCurrencyList() | async" value={{item}}>{{item}}</option>
      </select>
    </div>
  </form>
</div>
